

#detailPag{
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
    &::-webkit-scrollbar{
        display: none;
    }
    #detailHeader{
        width: 100%;
        height: 40px;
        background: #000;
        position: relative;
        .header-item{
            display: inline-block;
            color: #fff;
            line-height: 40px;
            text-indent: 12px;
        }
        .middle{
           position: absolute;
           top: 0;
           left: 35%;
            width:30%;
            height: 40px;
            img{
                width: 60%;
                height: 70%;
                float: left;
                margin-top: 5%;
            }
            .city{
               display: inline-block;
               font-size: 12px;
               color: #fff;
               margin-top: 20%;
            }
        }
        .toLogin{
            display: inline-block;
            font-family: 'iconfont';
            color: #fff;
            line-height: 40px;
            margin-left: 60%;
        }
        .search{
            font-family: 'iconfont';
            color: #fff;
            position: absolute;
            right: 15px;
            top: 25%;
            font-size: 20px;
        }
        .logined-panel{
            width: 30%;
            height: 150px;
            position: absolute;
            right:45px;
            display: none;
            z-index: 999;
            background: #FFFFFF;
            li{
                width: 80%;
                height: 50px;
                margin-left: 10%;
                line-height: 50px;
                text-align: center;
                font-size: 14px;
                border-bottom: 1px solid #E3E3E3;
                box-sizing: border-box;
            }
        }
    }
    .detailContent{
        width: 100%;
        height: 100%;
        padding-bottom: 55px;
        position: relative;
        .searchBtn{
            position: fixed;
            top: 37px;
            width: 100%;
            height: 40px;
            z-index: 998;
            background: #fff;
            margin-top: 3px;
            display: none;
            input{
                width: 90%;
                height: 30px;
                border: 0;
                text-indent: 12px;
                font-size: 14px;
                color: #757575;
                outline: none;
                background: #F2F3F4;
            }
            span{
                line-height: 40px;
                font-size: 14px;
            }
        }
       .swiper-container{
           width: 100%;
           height: 200px;
           .swiper-wrapper{
               .swiper-slide{
                   img{
                       width: 100%;
                       height: 100%;
                   }
               }
           }
        .swiper-pagination-bullet{
            background-color: #6B594D;
        }
         .swiper-pagination-bullet-active{
             background-color: #EEECEB;
         }
       }

       #info{
           width: 90%;
           height: 200px;
           margin-left: 5%;
           margin-top: 20px;
           position: relative;
           .title{
               width: 80%;
               font-size: 20px;
               color: #373B42;
           }
            .heart{
                display: inline-block;
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 20px;
                font-family: 'iconfont'
            }
            .desc{
                font-size: 14px;
                color: #A7AAAF;
                padding-top: 10px;
            }
            .price{
                font-size: 14px;
                padding-top: 20px;
                .r-price{
                    color: #FD5F5F;
                }
                .o-price{
                    color: #9EA2A7;
                    text-decoration: line-through;
                    font-size: 10px;
                    padding-left: 10px;
                }
                .status{
                    display: inline-block;
                    width: 50px;
                    height: 20px;
                    font-size: 14px;
                     color: #9EA2A7;
                     padding-left: 5px;
                    .gap{
                        display: inline-block;
                        width: 1px;
                        height: 10px;
                        background-color: #9EA2A7;
                    }
                }
            }
            .tags{
                width: 100%;
                height: 50px;
                border-top: 1px solid #e3e3e3;
                margin-top: 5px;
                span{
                    line-height: 50px;
                    font-size: 10px;
                    color: #325782;
                    padding: 5px;
                    border: 1px solid #325782;
                    border-radius: 5px;
                }
            }
       }
        .panel-gap{
            width: 100%;
            height: 10px;
            background: #fafafa;
            border-top: 1px solid #e3e3e3;
            border-bottom: 1px solid #e3e3e3;
        }
        .storInfo{
            width: 90%;
            margin-left: 5%;
            .menu{
                text-align: center;
            }
            .menu-list{
                width: 100%;
                .menu-one{
                    width: 100%;
                   
                    .warm{
                        text-align: center;
                        padding-top: 10px;
                        font-size: 14px;
                        color: #21242A;
                    }
                    .pitem{
                        text-align: center;
                        padding-top: 10px;
                        font-size: 12px;
                        color: #A5A7AA;
                    }
                }
                .menu-two{
                    width: 100%;
                    margin-top: 10px;
                    .menu-two-info{
                        width: 100%;
                        img{
                            width: 100%;
                            height: 200px;
                        }
                        .title{
                            font-size: 14px;
                            color: #21242A;
                            padding: 10px 0;
                        }
                        .content{
                            font-size: 12px;
                            color: #63666B;
                            line-height: 25px;
                        }
                    }
                }
                .menu-three{
                    width: 100%;
                    margin-top: 10px;
                    border-bottom: 1px solid #e3e3e3;
                    .usewarm{
                        text-align: center;
                        color: #32363D;
                    }
                    ul{
                        list-style: disc;
                        list-style-position: inside;
                        margin-top: 10px;
                        li{
                            font-size: 14px;
                            color: #63666B;
                            line-height: 25px;
                        }
                    }
                    .addFri{
                        width: 40%;
                        height: 40px;
                        text-align: center;
                        line-height: 40px;
                        font-size: 14px;
                        margin-left: 30%;
                        box-sizing: border-box;
                        margin-top: 10px;
                        border: 1px solid #1A1A1A;
                        margin-bottom: 5px;
                    }
                    .codeImg{
                        position: fixed;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        margin: auto;
                        width: 80%;
                        height: 300px;
                        background: #e3e3e3;
                       
                        span{
                            font-family: 'iconfont';
                            position: absolute;
                            right: 5px;
                            top: 5px;
                        }
                            img{
                                width: 80%;
                                height: 80%;
                                margin-left: 10%;
                                margin-top: 10%;
                            }
                    }
                }
                .menu-four{
                    width: 100%;
                    .like{
                        text-align: center;
                    }
                    ul{
                        width: 100%;
                        padding-bottom: 50px;
                        li{
                            width: 100%;
                            height: 130px;
                            position: relative;
                            img{
                                width: 120px;
                                height: 100px;
                                margin-top: 50px;
                            }
                            .desc{
                                position: absolute;
                                top: 0;
                                right: 0;
                                width: 60%;
                                height: 130px;
                               .product_name{
                                   font-size: 13px;
                                   margin-top: 50px;
                               }
                                .price{
                                   color: #FF6E6E;
                                    font-size: 13px;
                                    margin-top: 20px;
                                }
                                
                            }
                        }
                    }
                }
            }
        }
        .loading-img{
            position: absolute;
            left: 150px;
            top: 250px;
            width: 70px;
            height: 70px;
            display: block;
            z-index: 99;
        }
    }
    #sub{
        width: 100%;
        height: 50px;
        position: fixed;
        bottom: 0;
        left: 0;
        background: #fff;
        border-top: 1px solid #e3e3e3;
        span{
            color: #fff;
            text-align: center;
            line-height: 50px;
            float: left;
        }
        .cartBtn{
            display: inline-block;
            width: 20%;
            height: 50px;
            font-family: 'iconfont';
            font-size: 18px;
            color: #333;
        }
        .addCart{
            display: inline-block;
            width: 40%;
            height: 50px;
            font-size: 18px;
            background: #FFB22A;
        }
        .buy{
            display: inline-block;
            width: 40%;
            height: 50px;
            font-size: 18px;
            background: #FF3939;
        }
    }
    #sub-more{
        width: 100%;
        height: 400px;
        position: fixed;
        bottom: -300px;
        left:0;
        background: #fff;
        border-top: 1px solid #e3e3e3;
        .hasChose{
            width: 70%;
            float: left;
            line-height: 50px;
            font-size: 14px;
            color: #252525;
            text-indent: 14px;
        }
        .changeGoods{
            display: inline-block;
            width: 30%;
            line-height: 50px;
            text-align: center;
            font-size: 14px;
            color: #252525;
            .changecon{
                font-family: 'iconfont';
                margin-left: 3px;
                font-size: 14px;
            }
        }
        .morediv{
            width: 100%;
            ul{
                width: 100%;
                height: 200px;
                overflow: auto;
                li{
                    width: 90%;
                    height: 60px;
                    margin-left:5%;
                    border-bottom: 1px solid #e3e3e3;
                    .spec{
                        font-size: 17px;
                        color: #5A5D63;
                    }
                    .price{
                        font-size: 13px;
                        color: #FF3939;
                    }
                }
            }
        }
        .count{
            width: 90%;
            height: 100px;
            margin-left: 5%;
            margin-top: 20px;
            position: relative;
            button{
                border: 0;
                outline: none;
                width: 20px;
                height: 20px;
                text-align: center;
                line-height: 20px;
            }
            .minus{
                margin-left: 60%;
            }
        }
        
    }
    .confirm{
        position: fixed;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 50px;
        background: red;
        color: #fff;
        font-size: 17px;
        text-align: center;
        line-height: 50px;
        display: none;
    }
    .toast{
            display: inline-block;
            width: 80%;
            height: 30px;
            background: #000;
            color: #fff;
            line-height: 30px;
            text-align: center;
            border-radius: 10px;
            opacity: .7;
            position: fixed;
            bottom: 150px;
            left: 10%;
            display: none;
        }
}