
#loginPag{
    width: 100%;
    height: 100%;
    #loginContent{
        width: 90%;
        height: 400px;
        margin-left: 5%;
        margin-top: 50px;
        .logoImg{
            width: 100%;
            height: 100px;
            img{
                width: 80%;
                height: 70%;
                margin-left: 10%
            }
        }
        .loginBox{
            width: 100%;
            height: 300px;
            position: relative;
            .username{
                width: 100%;
                height: 40px;
                outline: none;
                border: 1px solid #D6D8DB;
                border-radius: 5px;
                font-size: 17px;
                color: #2C3038;
                text-indent: 12px;
                line-height: 40px;
            }
            .verificationCode{
                width: 60%;
                height: 40px;
                outline: none;
                border: 1px solid #D6D8DB;
                border-radius: 5px;
                font-size: 17px;
                color: #2C3038;
                text-indent: 12px;
                line-height: 40px;
                margin-top: 20px;
            }
            .code{
                 display: inline-block;
                 width: 30%;
                 height: 40px;
                 border: 1px solid #D6D8DB;
                 border-radius: 5px;
                 font-size: 17px;
                 line-height: 40px;
                 position: absolute;
                 top: 61px;
                 right: 20px;
                 text-align: center;
                 line-height: 40px;
                 color: #1A1A1A;
            }
            .goLogin{
                display:block;
                width: 100%;
                height: 40px;
                background: #1A1A1A;
                color: #fff;
                text-align: center;
                line-height: 40px;
                margin-top: 20px;
            }
            .tips{
                font-size: 12px;
                color: #D4D6D8;
                text-align: center;
                margin-top: 10px;
            }
        }

        .toast{
            display: inline-block;
            width: 80%;
            height: 30px;
            background: #000;
            color: #fff;
            line-height: 30px;
            text-align: center;
            border-radius: 10px;
            opacity: .7;
            position: absolute;
            bottom: 150px;
            left: 10%;
            display: none;
        }
    }
}